* {
  box-sizing: border-box;
}
:root {
  --white-color: #fff;
  --black-color: #000;
}
html{
  scroll-behavior: smooth;
}

h1::selection,
h2::selection,
h3::selection,
p::selection {
  color: white;
  background-color: #dc3545;
}
.heading-style {
    font-size: 2em !important;
    opacity: 0.3;
    color: var(--black-color);
    line-height: 1.5;
}
.heading {
    content: "";
    position: absolute;
    bottom: -0.2em;
    left: 50%;
    transform: translate(-50%);
    font-size: 1em !important;
    text-decoration: underline;
    color: #dc3545;
    text-transform: uppercase;
}

/* Start Nav */
.hover-effect:hover {
  color: #dc3545 !important;
  transform: scale(1.2);
  transition: all 0.3s ease;
}
.text-align {
  flex-grow: 0;
}
/* End Nav */

/* Start Landing */

.landing-video {
  height: 90vh;
  width: 100%;
}
.center {
  position: absolute;
  bottom: 40px;
  text-align: center;
}

/* End Landing */
